body
    &.grid-visible
        //background: url('/assets/bd-grid.jpg') top center repeat-y;

    &.grid-opaque
        opacity: 0.5;

.test
    font-family: Roboto;
    font-weight: 300;

    h1
        color: #43484D;
        font-size: 52px;
        font-weight: 300;
        margin-bottom: 25px;

    h3
        color: #5E6977;
        font-size 22px;
        font-weight 100;
        line-height: 32px;
        margin-bottom: 75px;

    .header
        padding: 25px 0 20px;

        .logo
            margin-right 60px;

        .menu
            color: #86939E;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            margin : 20px 15px 0;
            vertical-align: middle;

        .navbar-toggle
            padding: 0;

        .bars
            width: 18px;

    .main-section
        padding: 145px 0 50px;
        .main-image
            background-image: url('../images/main-image.png');
            background-position-x: 50%;
            border-radius: 13px;
            height 340px;
            margin: 0 0 60px;

        .title
            color: #43484D;
            font-size: 18px;
            font-weight: normal;

        .description
            color: #86939E;
            font-size: 16px

        .main-icon
            margin-top: 10px;

    .slider
        padding: 50px 0;

        h2
            color: #43484D;
            font-size: 32px;
            font-weight: 100;
            line-height: 38px;
            margin-bottom: 20px;

        .computer
            max-width: 800px;
            width: 100%;


        .description
            color: #86939E;
            font-size: 16px;
            margin-bottom: 20px;

        .learn-more
            color: #358ED7;
            font-size: 16px;
            margin-bottom: 30px;

            .angle-right
              margin-left: 10px;
              vertical-align: initial;
              width: 6px;

        .angle-right-gray
            cursor: pointer;
            margin-top: 85px;

        .circle
            background-color: #86939E;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            height: 6px;
            margin-right: 10px;
            vertical-align: middle;
            width: 6px;

            &.selected
                background-color: #358ED7;
                border-radius: 50%;
                height: 10px;
                width: 10px;


    .simple-pricing
        background-color: #F9F9F9;
        padding-top: 110px;
        text-align: center;

        button
            border-radius: 6px;
            margin-top: 50px;
            padding: 8px 0;

        .descriptions
            margin-bottom: 30px;
            text-align: left;

        .blue-card
            background-color: #39ADD1;
            border: solid 1px #39ADD1;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            max-width: 390px;
            padding: 30px;

            h1
                color: #fff;
                font-weight: lighter;
                margin-bottom: 5px;

            .btn-success
                background-color: #7DC855;
                border: solid 2px #7DC855;
                font-size: 16px;

             .per
                opacity: 0.7;

            .plan
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 5px;
                text-transform: uppercase;

            .plan-description
                font-size: 16px;
                font-weight: 300;
                opacity: 0.6;

            .price-description
                font-size: 16px;
                font-weight: 300;
                opacity: 0.6;
                padding: 20px 0 10px;

            .separator
                background-color: #FFFFFF;
                height: 1px;
                margin: 20px 0;
                width: 100%;

        .border-left
            border-left: solid 1px #F4F4F4;

        .border-left-radius
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

        .border-right-radius
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

        .check
            margin-right: 15px;

        .white-card
            background-color: #fff;
            border: solid 1px #F4F4F4;
            color: #86939E;
            font-size: 14px;
            font-weight: 300;
            max-width: 390px;
            padding: 30px;

            h1
                font-weight: lighter;
                margin-bottom: 5px;

            .btn-default
                border: solid 2px #E1E8EE;
                color: #358ED7;
                font-size: 16px;

            .plan
                color: #41A1DF;
                font-weight: 400;
                margin-bottom: 5px;
                text-transform: uppercase;

            .plan-description
                color: #86939E;
                font-size: 16px;
                font-weight: 300;

            .price-description
                font-size: 16px;
                font-weight: 300;
                padding: 20px 0 10px;

            .separator
                background-color: #E1E8EE;
                height: 1px;
                margin: 20px 0;
                width: 100%;

            .unselected
                color: #BFC7CE;
                margin-left: 30px;

    .ultimate-pasta
        background-color: #5E6977;
        color: #fff;
        padding: 195px 0 85px;
        margin-top: -90px;

        img
            padding: 0 18px 20px;

        h3
            margin-bottom: 45px;
            opacity: 0.8;

        .img-description
            font-size: 18px;
            margin: 85px 0 20px;
            opacity: 0.80;

    .footer
        background-color: #545E6B;
        color: #fff;
        padding: 60px 0 100px;

        img
            float: left;
            margin-right: 25px;

        .logo-description
            font-size: 16px;
            opacity: 0.6;

        .fa-caret-down
            margin-left: 10px

        .title
            font-size: 18px;
            margin-bottom: 15px;

        .subtitle
            font-size: 16px;
            opacity: 0.6;
            margin-bottom: 12px;

    .white
        color: #fff;

    .btn-lg
        padding: 25px 35px;

    .padding-top-10
        padding-top: 10px;

    .box-shadow
        background-color: white;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
        position: fixed;
        width: 100%;
        z-index: 999;

    .swipe
        overflow: hidden;
        visibility: hidden;
        position: relative;

    .swipe-wrap
        overflow: hidden;
        position: relative;

    .swipe-wrap > div
        float:left;
        width:100%;
        position: relative;

@media (max-width: 1200px)
    .test
        h1
            font-size: 42px;

         h3
             font-size: 20px;

        .footer
            .logo-description
                font-size: 14px;

        .main-section
            .main-image
                margin: 0 0 50px;

        .simple-pricing
            .blue-card
            .white-card
                .price-description
                    font-size: 14px;

@media (max-width: 991px)
    .test
        h1
            font-size: 34px;

        h3
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 40px;
        .main-section
            .main-image
                margin: 0 0 40px;

        .simple-pricing
            padding-top: 70px;

        .no-padding-right-ipad
            padding-right: 0;

        .footer
            .logo-description
                font-size: 11px;


@media (max-width: 767px)
    .test
        .slider
            text-align: center;

            .angle-right-gray
                display: none;

            .description
                padding: 0 10%;

        .main-section
            padding: 145pxpx 0 0;

        .margin-bottom-mobil-20
            margin-bottom: 20px;

        .simple-pricing
            .blue-card
            .white-card
                margin: 10px auto;

        .header
            .menu
                display: block;
                text-align: center;

        .footer
            .logo-description
                font-size: 18px;
                margin-bottom: 40px


@media (max-width: 450px)
    .test
        .footer
            .logo-description
                font-size: 15px;

            .subtitle
            .title
                font-size: 14px;
                margin-bottom: 8px;