doctype html
html(dir="ltr" lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href='stylesheets/main.min.css', rel='stylesheet')

    body
        .test
            .container-fluid.box-shadow
                .container
                    .header
                        .navbar-header
                            a.navbar-brand(href="#")
                                img.logo(src="images/module_logo.png")
                            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
                                img.bars(src="images/bars.svg")

                        .collapse.navbar-collapse#myNavbar
                            ul.nav.navbar-nav
                                li.menu Features
                                li.menu Pricing
                                li.menu Learn more
                                li.menu Contact sales

            .main-section
                .container
                    .row
                        .col-sm-8.col-sm-offset-2
                            h1.text-center The Best Way to Work Together
                            h3.text-center We desing and develop software for funded startups and established companies. Here are just some examples of our work
                        .col-sm-12
                            .main-image
                    .row
                        .col-sm-4
                            .row.margin-bottom-mobil-20
                                .col-xs-4.text-right
                                    img.main-icon(src="images/keep-your-data.svg")
                                .col-xs-8
                                    .title Keep your Data
                                    .description Enterprise-ready performance and controls.

                        .col-sm-4
                            .row.margin-bottom-mobil-20
                                .col-xs-4.text-right
                                    img.main-icon(src="images/prototype-your-project.svg")
                                .col-xs-8
                                    .title Prototype your Project
                                    .description 24/7 proactive threat scanning to prevent attacks.

                        .col-sm-4
                            .row.margin-bottom-mobil-20
                                .col-xs-4.text-right
                                    img.main-icon(src="images/create-smart-text.svg")
                                .col-xs-8
                                    .title Create Smart Texts
                                    .description 24/7 proactive threat scanning to prevent attacks.

            .swipe#slider
                .swipe-wrap
                    .slider
                        .row
                            .col-sm-6
                                img.computer(src="images/powerful-extensions.png")
                            .container
                                .col-sm-4
                                    h2 Powerful Extensions (1)
                                    .description This article floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
                                    .learn-more
                                        | Learn more
                                        img.angle-right(src="images/angle-right.svg")
                                    .circle.selected
                                    .circle(onclick="mySwipe.slide(1)")
                                    .circle(onclick="mySwipe.slide(2)")
                                    .circle(onclick="mySwipe.slide(3)")
                                    .circle(onclick="mySwipe.slide(4)")

                                .col-sm-1.col-sm-offset-1
                                    img.angle-right-gray(src="images/angle-right-gray.svg" onclick="mySwipe.next()")

                    .slider
                        .row
                            .col-sm-6
                                img.computer(src="images/powerful-extensions.png")
                            .container
                                .col-sm-4
                                    h2 Powerful Extensions (2)
                                    .description This article floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
                                    .learn-more
                                        | Learn more
                                        img.angle-right(src="images/angle-right.svg")
                                    .circle(onclick="mySwipe.slide(0)")
                                    .circle.selected
                                    .circle(onclick="mySwipe.slide(2)")
                                    .circle(onclick="mySwipe.slide(3)")
                                    .circle(onclick="mySwipe.slide(4)")

                                .col-sm-1.col-sm-offset-1
                                    img.angle-right-gray(src="images/angle-right-gray.svg" onclick="mySwipe.next()")

                    .slider
                        .row
                            .col-sm-6
                                img.computer(src="images/powerful-extensions.png")
                            .container
                                .col-sm-4
                                    h2 Powerful Extensions (3)
                                    .description This article floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
                                    .learn-more
                                        | Learn more
                                        img.angle-right(src="images/angle-right.svg")
                                    .circle(onclick="mySwipe.slide(0)")
                                    .circle(onclick="mySwipe.slide(1)")
                                    .circle.selected
                                    .circle(onclick="mySwipe.slide(3)")
                                    .circle(onclick="mySwipe.slide(4)")

                                .col-sm-1.col-sm-offset-1
                                    img.angle-right-gray(src="images/angle-right-gray.svg" onclick="mySwipe.next()")

                    .slider
                        .row
                            .col-sm-6
                                img.computer(src="images/powerful-extensions.png")
                            .container
                                .col-sm-4
                                    h2 Powerful Extensions (4)
                                    .description This article floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
                                    .learn-more
                                        | Learn more
                                        img.angle-right(src="images/angle-right.svg")
                                    .circle(onclick="mySwipe.slide(0)")
                                    .circle(onclick="mySwipe.slide(1)")
                                    .circle(onclick="mySwipe.slide(2)")
                                    .circle.selected
                                    .circle(onclick="mySwipe.slide(4)")

                                .col-sm-1.col-sm-offset-1
                                    img.angle-right-gray(src="images/angle-right-gray.svg" onclick="mySwipe.next()")

                    .slider
                        .row
                            .col-sm-6
                                img.computer(src="images/powerful-extensions.png")
                            .container
                                .col-sm-4
                                    h2 Powerful Extensions (5)
                                    .description This article floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
                                    .learn-more
                                        | Learn more
                                        img.angle-right(src="images/angle-right.svg")
                                    .circle(onclick="mySwipe.slide(0)")
                                    .circle(onclick="mySwipe.slide(1)")
                                    .circle(onclick="mySwipe.slide(2)")
                                    .circle(onclick="mySwipe.slide(3)")
                                    .circle.selected

                                .col-sm-1.col-sm-offset-1
                                    img.angle-right-gray(src="images/angle-right-gray.svg" onclick="mySwipe.next()")

            .simple-pricing
                .container
                    .row
                        .col-sm-8.col-sm-offset-2
                            h1.text-center Simple Pricing
                            h3.text-center It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind.

                        .col-sm-4.white-card.border-left-radius
                            .plan Basic
                            .plan-description For a taste our product
                            .separator
                            h1 $0
                            | always free
                            .price-description How to boost the design and developing process with help of four paws.
                            .separator
                            .descriptions.padding-top-10
                                img.check(src="images/check.svg")
                                span 2 Gb of space
                            .descriptions
                                img.check(src="images/check.svg")
                                span 30 days of file recovery
                            .descriptions
                                img.check(src="images/check.svg")
                                span MS Office 365 integration

                            .descriptions.unselected Unlimited third-party integrations
                            .descriptions.unselected Remote wipe

                            button.btn.btn-default.btn-block(type="button") Get Started

                        .col-sm-4.white-card.border-left
                            .plan Professional
                            .plan-description Make individual product
                            .separator
                            h1 $8.99
                            | per month
                            .price-description Computer War Games How To Estimate Decisions Made By C C Trainees
                            .separator
                            .descriptions.padding-top-10
                                img.check(src="images/check.svg")
                                span 8 Gb of space
                            .descriptions
                                img.check(src="images/check.svg")
                                span 60 days of file recovery
                            .descriptions
                                img.check(src="images/check.svg")
                                span MS Office 365 integration
                            .descriptions
                                img.check(src="images/check.svg")
                                span Unlimited third-party integrations
                            .descriptions.unselected Remote wipe
                            button.btn.btn-default.btn-block(type="button") Get Started

                        .col-sm-4.blue-card.border-right-radius
                            .plan Business
                            .plan-description For big companies
                            .separator
                            h1 $18.99
                            .per per month
                            .price-description Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing
                            .separator
                            .descriptions.padding-top-10
                                img.check(src="images/check.svg")
                                span 30 Gb of space
                            .descriptions
                                img.check(src="images/check.svg")
                                span 90 days of file recovery
                            .descriptions
                                img.check(src="images/check.svg")
                                span MS Office 365 integration
                            .descriptions
                                img.check(src="images/check.svg")
                                span Unlimited third-party integrations
                            .descriptions
                                img.check(src="images/check.svg")
                                span Remote wipe

                            button.btn.btn-success.btn-block(type="button") Get Started

            .ultimate-pasta
                .container
                    .row
                        .col-sm-8.col-sm-offset-2
                            h1.text-center.white The Ultimate Pasta Lenght Editor
                            h3.text-center.white How to boost the design and developing process with a little help of four paws. True story by Snoop Dogg.
                        .col-sm-12.text-center
                            button.btn.btn-success.btn-lg(type="button") Try it for Free

                            .img-description Superpasta trusted and used by multiple companies

                            img(src="images/evernote.svg")
                            img(src="images/marvel.svg")
                            img(src="images/brazzers.svg")
                            img(src="images/motorola.svg")
                            img(src="images/netflix.svg")
                            img(src="images/adobe.svg")

            .footer
                .container
                    .row
                        .col-sm-4.no-padding-right-ipad
                            img(src="images/m02.svg")
                            .logo-description Huge modern UI Kit containing 130+ terrific components in 11 popular categories. Each component is fully.
                        .col-sm-7.col-sm-offset-1
                            .col-xs-3
                                .title Support
                                .subtitle About Us
                                .subtitle Press
                                .subtitle FAQ

                            .col-xs-3
                                .title Businness
                                .subtitle Home
                                .subtitle Mobile
                                .subtitle Pricing

                            .col-xs-3
                                .title Community
                                .subtitle Developers
                                .subtitle Referrals
                                .subtitle Forum

                            .col-xs-3.no-padding-right-ipad
                                .subtitle.text-right
                                    | English (UK)
                                    i.fa.fa-caret-down

        script(src='javascript/main.min.js')